{% extends "base.html" %}
{% block title %}Cloner News{% endblock %}
{% block content %}
    {% for story in storyArray %}
        <div>
            <a>{{loop.index}}</a>
            <a>{{ storyArray[loop.index0]['title'] }}</a>
            <a href="{{ storyArray[loop.index0]['url'] }}">({{ urlArray[loop.index0]}})</a>
            <h4>{{storyArray[loop.index0]['score']}} points by {{storyArray[loop.index0]['by']}} {{ storyArray[loop.index0]['time'] }} hours ago</h4>
        </div>
    {% endfor %}
{% endblock %}